USDA_API_KEY=0al3f1Mqm8TnUfJFc7yCVOU00I9htfFWhClO4DhA
HF_TOKEN=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
RAPID_API_HOST=nutrition-by-api-ninjas.p.rapidapi.com
RAPID_API_KEY=6016487107msh127c4ae2ca942f6p143b37jsnac6a667c057e